[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ext/sdl3"]
	path = ext/sdl3
	url = https://github.com/libsdl-org/SDL.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ext/volk"]
	path = ext/volk
	url = https://github.com/zeux/volk.git
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
